<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_laurin_marc">
    <uses-sdk android:maxSdkVersion="11"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_account_circle_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_account_circle_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlood">

        <!-- MAIN -->
        <activity
            android:name=".ui.mgmt.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- other Activities -->
        <activity
        android:name=".ui.mgmt.RegistrationActivity"
        android:parentActivityName=".ui.mgmt.LoginActivity">

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.mgmt.LoginActivity" />
        </activity>


        <activity android:name=".ui.CommuneActivity"/>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.mgmt.SettingsActivity" />
        <activity
            android:name="com.example.projet_laurin_marc.ui.mgmt.AboutActivity"
            android:parentActivityName="com.example.projet_laurin_marc.ui.MainActivity" >
        </activity>


        <!-- other Activities
        <activity
            android:name=".ui.mgmt.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:value=".ui.mgmt.AboutActivity" />

        </activity>-->

    </application>

</manifest>